html,
body {
    height: 100%;
    width: 100%;
}

/* Nav links */
a.nav-link {
    color: #000;
}

a.nav-link:hover {
    color: #888888
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom:1px solid #888;
    padding-bottom:5px;
}


[data-bs-theme="dark"] a.nav-link {
    color: #fff; /* White color for dark mode */
}

.form-check-input {
    cursor: pointer;
}

@media(min-width:992px){    /*  Nav Bar on full screen devices  */
    .navbar-nav, .nav-item, .form-check{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    
    .container-fluid header{
        margin-top:5px;
    }
}
@media(max-width: 992px){ /*    Collapsible Nav Bar on Mobile Devices   */
    #navbarNav li:last-of-type{
        border-bottom:2px solid #888;
        padding-bottom:5px;
        width:100%
    }

    .navbar-nav, .nav-item,.form-check{
        display:flex;
        justify-content: flex-end;
        align-items: center;
    }
}

/*  Page content  */
#welcome-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 40vh;
}

#about-title, #projects-title, #experience-title, #contact-title, #csharp-title {
    margin-top: 10%;
    margin-bottom: 2%;
}

.work-experience, .qualifications-section, .about-section, .contact-section,.csharp-section{
    text-align:justify;
    margin:5% 0;
}

.work-experience:last-of-type, .about-section:last-of-type{
    padding-bottom:20%;
}

/*  Animations  */
.animate-container {
    animation: fadeInUp 0.5s ease-out forwards;
    opacity: 0;
    transform: translateY(20px);
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* CONTACT ICONS */

#contact-icons {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top:15%;
}
#contact-icons a {
    text-decoration: none;
    color: inherit;
}
#contact-icons i {
    font-size: 2em;
}

#contact-icons a:hover{
    color:gray;
}


/*  C# Coding Practice  */
#contoso-pet-application-title{
    padding:20px 0;
}

#csharp-section a{
    text-decoration: none;
}

#c-sharp-code-list{
    list-style-type: none;
    line-height:1.5;
}

[data-bs-theme="dark"] #c-sharp-code a {
    color: #fff; /* White color link for dark mode */
    text-decoration: underline;
}

#c-sharp-code a {
    color: black; /* Black color link for dark mode */
    text-decoration: underline;
}

